{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}</title>

    <!-- Link bootstrap-reboot -->
    <link rel="stylesheet" href="{% static 'libs/bootstrap-grid/bootstrap-reboot.css.map' %}" type='text/css' media='all' />
    <link rel="stylesheet" href="{% static 'libs/bootstrap-grid/bootstrap-reboot.min.css' %}" type='text/css' media='all' />
    
    <!-- Link bootstrap-grid -->
    <link rel="stylesheet" href="{% static 'libs/bootstrap-grid/bootstrap-grid.min.css.map' %}" type='text/css' media='all' />
    <link rel="stylesheet" href="{% static 'libs/bootstrap-grid/bootstrap-grid.min.css' %}" type='text/css' media='all' />

    <!-- Custom scroll -->
    <!-- <link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.mcustomscrollbar/3.0.6/jquery.mCustomScrollbar.min.css"> -->
    <link rel="stylesheet" href="{% static 'libs/mCustomScrollbar/jquery.mCustomScrollbar.min.css' %}" type='text/css' media='all' />

    <!-- Link our styles -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type='text/css' media='all' />
    
</head>

<body>

    <div class="overlay create_note_page_overlay">
        <div class="content">
            <div class="container">

                <header>
                    <div class="row d-flex justify-content-between">
                        <div class="col-12 col-sm-auto order-2 order-sm-1">
                            <div class="logo">
                                <a href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
                            </div>
                        </div>
                        <div class="col-12 col-sm-auto order-1 order-sm-2 d-flex justify-content-sm-end">
                            <nav>
                                <div class="avtorization d-flex justify-content-center  justify-content-sm-between align-items-center">
                                    {% if user.is_authenticated %}
                                        <div class="nav_el"><a href="{% url 'home' %}" class="a_on_black">Привет, {{ user.username }}!</a></div>
                                        <div class="nav_el"><a href="{% url 'logout' %}" class="a_on_black">Выйти</a></div>
                                    {% else %}
                                        <div class="nav_el"><a href="{% url 'login' %}" class="a_on_black">Вход</a></div>
                                        <div class="nav_el"><a href="{% url 'registration' %}" class="a_on_black">Регистрация</a></div>
                                    {% endif %}
                                </div>
                            </nav>
                        </div>
                    </div>
                </header>

                {% block work_zone %}{% endblock %}

            </div>
        </div>  
    </div>

    <footer>
        <div class="overlay">
            <div class="content">
                <div class="container container-max-height">
                    <p class="text">
                        © «WordRepeater», 2021.
                    </p>
                    <p class="text">
                        Все права защищены. <a href="#" class="a_on_black">Политика конфиденциальности</a>. Не является публичной офертой.
                    </p>
                </div>
            </div>
        </div>
    </footer>


    <!-- Link JQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" crossorigin="anonymous"></script>

    <!-- Custom scroll -->
    <!-- <script src="//cdn.jsdelivr.net/jquery.mcustomscrollbar/3.0.6/jquery.mCustomScrollbar.concat.min.js"></script> -->
    <script src="{% static 'libs/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js' %}"></script>

    <!-- Link our main.js file -->
    <script src="{% static 'js/main.js' %}"></script>


    <!-- Test script -->
    <script>
        $(document).ready(function ($) {

            // ___________________________________________________________
            // *** Обработка AJAX логики
            $('.new_block').click(function() {

                var papik = $(this);
                console.log(papik) 

                // Перевод на русский 
                $(this).find('.word_en').keyup(function() {
                    var word = papik.find('.word_en input').val();
                    var request = $.ajax({
                        url: "{% url 'translate' %}",
                        type: "GET",
                        data: {text_en : word},
                        dataType: "text"
                    });

                    if ($('#auto_trnslate').is(':checked')) {
                        request.done(function(msg) {
                            papik.find('.word_ru input').val(msg);
                        });
                        // request.fail(function(jqXHR, textStatus) {
                        //     alert( "Request failed: " + textStatus );
                        // });
                    } else {
                        request.abort();
                    }
                });

                // Перевод на английский 
                // ???
               
            });
  
        });
  
    </script>
</body>




</html>